* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;

}
header {
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 5em;
    background-color:rgb(98, 178, 243) ;
    margin-bottom: 2em;
    margin-top: 2em;
}
h1{

    font-size: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

[data-material]{
    margin-bottom: 1.5em;
}

[data-material] h2 {
    color: rgb(98, 178, 243) ;
    padding-bottom: 0.5em;
    font-size:17px ;
}
[data-material] ul {
    font-size: 13px;
}

ul {
    padding-left: 2.5em;
    list-style-type:circle;
}

li {
    line-height: 1.5rem;
    padding-left:0.5em;
}

.importante {
    font-weight: bold;
    text-decoration: underline;
}

[data-tabla] h2 {
    color: rgb(98, 178, 243) ;
    font-size:17px ;
    
} 

table {
    font-size: 1px;

}

th, td {
    padding: 0.3rem;
    font-size: 13px;
}

thead {
    color: white;
    background-color:rgb(98, 178, 243)  ;
}

tbody th:nth-child(1n) {
    background-color: rgb(176, 208, 238);

}

tbody tr:nth-child(2n+1) {
    background-color: rgb(217, 237, 255);
    text-align: center;
}

tbody tr:nth-child(2n) {
    background-color: rgb(176, 208, 238);
    text-align: center;

}









